
<div class="app">
  <h1>📝 Task Manager</h1>

  <div class="task-card add">
    <input [(ngModel)]="newTitle" placeholder="Title" />
    <input [(ngModel)]="newDescription" placeholder="Description" />
    <button (click)="addTask()">➕ Add</button>
  </div>

  <div class="task-list">
    <div class="task-card" *ngFor="let t of tasks" [class.done]="t.done">
      <div class="text">
        <h3>{{ t.title }}</h3>
        <p>{{ t.description }}</p>
      </div>

      <div class="actions">
        <button class="ok" (click)="toggleDone(t)">
          {{ t.done ? '↩' : '✔' }}
        </button>
        <button class="del" (click)="deleteTask(t)">🗑</button>
      </div>
    </div>
  </div>
</div>
