// .page {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
// }

// .layout {
//     display: flex;
//     flex: 1;
// }

// .main-content {
//     flex: 1;
//     padding: 24px;
//     // overflow-y: auto;
// }

// .sidebar {
//     background: #111827;
//     // overflow-y: auto;
// }